/* 
#FF6800 - light orange
#CF4800 - dark orange

#718387 - grey
#1F2223 - blackish

#292929 - dark grey
#45C19F - green
*/

body {
	background: white;
}

header {
	padding: 0px 10px 20px 10px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.26, #FF6800),
	    color-stop(0.74, #CF4800)
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    #FF6800 26%,
	    #CF4800 74%
	);
}

header img {
	margin-top: 30px;
	padding: 1em;
	background: white;
}

section {
	/*margin-top: 1em;*/
	font-size: 120%;
	padding: 20px;
	background: white;
}

section h1 {
	font-size: 200%;
}

/* Container styles */

.round {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* Links */

nav a {
	color: white;
	text-decoration: none;
}

nav a:hover {
	color: white;
	text-decoration: underline;
}

nav a:visited {
	color: white;
}

/* Navigation */

nav {
	float: right;
	background: #292929;
	padding: 0.3em 0.7em;
	white-space: nowrap;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	padding: 0 5px;
	font-weight: bold;
}

/*nav ul li a.visited {
	color: #1F2223;
}

nav ul li a.hover {
	color: #FF6800;
	text-decoration: underline;
}*/

/* Footer */

footer {
	padding: 20px 10px 20px 10px;
	/*background: #F6F6F2; beige tint*/
	background: #292929;
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

footer nav {
	float: none;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* User sign in page */
div.field, div.actions {
  margin-bottom: 10px;
}
