<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
	<fieldset>
		<legend>New user</legend>
		<%= render 'shared/error_messages', :object => f.object %>
		<%= render 'user_form', :f => f %>
		<div class="actions">
			<%= f.submit "Sign up" %>
		</div>
	</fieldset>
<% end %>