<header>
	<div class="container">
		<%= image_tag("logo.gif", :alt => "Project Christmas",  :class => "round") %>
		<nav>
			<ul>
				<li><%= link_to "Sign in", '#' %></li>
				<li><%= link_to "Contact", '#' %></li>
				<li><%= link_to "About", '#' %></li>
			</ul>
		</nav>
	</div>
</header>